{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
    {{ super() }}
    function getOrientation(file, callback) {
      var reader = new FileReader();

      reader.onload = function(event) {
        var view = new DataView(event.target.result);

        if (view.getUint16(0, false) != 0xFFD8) return callback(-2);

        var length = view.byteLength,
            offset = 2;

        while (offset < length) {
          var marker = view.getUint16(offset, false);
          offset += 2;

          if (marker == 0xFFE1) {
            if (view.getUint32(offset += 2, false) != 0x45786966) {
              return callback(-1);
            }
            var little = view.getUint16(offset += 6, false) == 0x4949;
            offset += view.getUint32(offset + 4, little);
            var tags = view.getUint16(offset, little);
            offset += 2;

            for (var i = 0; i < tags; i++)
              if (view.getUint16(offset + (i * 12), little) == 0x0112)
                return callback(view.getUint16(offset + (i * 12) + 8, little));
          }
          else if ((marker & 0xFF00) != 0xFF00) break;
          else offset += view.getUint16(offset, false);
        }
        return callback(-1);
      };

      reader.readAsArrayBuffer(file.slice(0, 64 * 1024));
    };

    var fileInput = document.getElementById("user_file1");

    fileInput.onchange = function(event) {
      var file = event.target.files[0];

        getOrientation(file, function(orientation) {
        alert(orientation);
      });
    };

{% endblock %}

{% block title %}Activity Detail{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ activity.activity_name }} activity entry for {{ student.first_name }}</h1>
</div>
<h3></h3>
<div>
    {% if activity.activity_name == 'Audio' or activity.activity_name == 'Photo' or activity.activity_name == 'Video' %}
    <div class="col-md-6">
        <form action="" method="post" enctype=multipart/form-data>
            {{ form.hidden_tag() }}
                <div>
                    {{ form.activity_date.label }}
                    {{ form.activity_date(class="form-control") }}
                </div>
            <br />
                <div>
                    {{ form.activity_time.label }}
                    {{ form.activity_time(class="form-control") }}
                </div>
            <br />

                    {% if activity.activity_name == 'Photo' %}
                    <div class="form-group required">
                    <label class="control-label" for="user_file1">Photo</label>
                    <input id="user_file1" name="user_file" required="" type="file" accept="image/*">
                    </div>
                    {% endif %}

                    {% if activity.activity_name == 'Video' %}
                    <div class="form-group required">
                    <label class="control-label" for="user_file2">Video</label>
                    <input id="user_file2" name="user_file" required="" type="file" accept="video/*">
                    </div>
                    {% endif %}

                    {% if activity.activity_name == 'Audio' %}
                    <div class="form-group required">
                    <label class="control-label" for="user_file3">Audio</label>
                    <input id="user_file3" name="user_file" required="" type="file" accept="audio/*">
                    </div>
                    {% endif %}

                <div>
                    {{ form.comment.label }}
                    {{ form.comment(class="form-control") }}
                </div>
            <br />
                <div>
                    <div class="checkbox">
                        <label><input id="privacy" name="privacy" type="checkbox" value="">Private</label>
                    </div>
                </div>
            <br />
            <div>

                <a class="btn btn-default" href="{{ url_for('main.student', student_id=student.student_id) }}">
                    Cancel
                </a>
                <span>&nbsp</span>

                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
    {% else %}

    <div class="col-md-6">
        <form action="" method="post" enctype=multipart/form-data>
            {{ form.hidden_tag() }}
                <div>
                    {{ form.activity_date.label }}
                    {{ form.activity_date(class="form-control") }}
                </div>
            <br />
                <div>
                    {{ form.activity_time.label }}
                    {{ form.activity_time(class="form-control") }}
                </div>
            <br />
                <div>
                    {{ form.comment.label }}
                    {{ form.comment(class="form-control") }}
                </div>
            <br />
                <div>
                    <div class="checkbox">
                        <label><input id="privacy2" name="privacy" type="checkbox" value="">Private</label>
                    </div>
                </div>
            <br />
            <div>

                <a class="btn btn-default" href="{{ url_for('main.student', student_id=student.student_id) }}">
                    Cancel
                </a>
                <span>&nbsp</span>

                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

    {% endif %}

<br />
</div>
{% endblock %}
