{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
    {{ super() }}

{% endblock %}

{% block title %}Activity Detail{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ activity.activity_name }} activity entry for {{ student.first_name }}</h1>
</div>
<h3></h3>
<div>
    {% if activity.activity_name == 'Audio' or activity.activity_name == 'Photo' or activity.activity_name == 'Video' %}
    <div class="col-md-6">
        <form action="" method="post" enctype=multipart/form-data>
            {{ form.hidden_tag() }}
                <div>
                    {{ form.activity_date.label }}
                    {{ form.activity_date(class="form-control") }}
                </div>
            <br />
                <div>
                    {{ form.activity_time.label }}
                    {{ form.activity_time(class="form-control") }}
                </div>
            <br />

                    {% if activity.activity_name == 'Photo' %}
                    <div class="form-group required">
                    <label class="control-label" for="user_file1">Photo</label>
                    <input id="user_file1" name="user_file" required="" type="file">
                    </div>
                    {% endif %}

                    {% if activity.activity_name == 'Video' %}
                    <div class="form-group required">
                    <label class="control-label" for="user_file2">Video</label>
                    <input id="user_file2" name="user_file" required="" type="file">
                    </div>
                    {% endif %}

                    {% if activity.activity_name == 'Audio' %}
                    <div class="form-group required">
                    <label class="control-label" for="user_file3">Audio</label>
                    <input id="user_file3" name="user_file" required="" type="file" accept="audio/*" capture>
                    </div>
                    {% endif %}

                <div>
                    {{ form.comment.label }}
                    {{ form.comment(class="form-control") }}
                </div>
            <br />
                <div>
                    <div class="checkbox">
                        <label><input id="privacy" name="privacy" type="checkbox" value="">Private</label>
                    </div>
                </div>
            <br />
            <div>

                <a class="btn btn-default" href="{{ url_for('main.student', student_id=student.student_id) }}">
                    Cancel
                </a>
                <span>&nbsp</span>

                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
    {% else %}

    <div class="col-md-6">
        <form action="" method="post" enctype=multipart/form-data>
            {{ form.hidden_tag() }}
                <div>
                    {{ form.activity_date.label }}
                    {{ form.activity_date(class="form-control") }}
                </div>
            <br />
                <div>
                    {{ form.activity_time.label }}
                    {{ form.activity_time(class="form-control") }}
                </div>
            <br />
                <div>
                    {{ form.comment.label }}
                    {{ form.comment(class="form-control") }}
                </div>
            <br />
                <div>
                    <div class="checkbox">
                        <label><input id="privacy2" name="privacy" type="checkbox" value="">Private</label>
                    </div>
                </div>
            <br />
            <div>

                <a class="btn btn-default" href="{{ url_for('main.student', student_id=student.student_id) }}">
                    Cancel
                </a>
                <span>&nbsp</span>

                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

    {% endif %}
    
<br />
</div>
{% endblock %}
