{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}PSA-ONE{% endblock %}


{% block page_content %}
    <div class="page-header">
        <h1>Uploads Test</h1>
    </div>

    <div class="col-md-6">
        <form method="POST" enctype=multipart/form-data action="{{ url_for('main.upload') }}">
            <input type="file" name="file_input">
            <input type="submit" value="Submit">
        </form>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
{% endblock %}
