{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}PSA-ONE{% endblock %}


{% block page_content %}
    <div class="page-header">
        <h1>Uploads Test</h1>
    </div>

    <div class="col-md-6">
        <form action="" method="POST" enctype="multipart/form-data">

        <input type="file" name="user_file">
        <br />
        <button type="submit">Upload</button>

    </form>
        <br />
        <p><strong>Orientation:</strong> {{ o }}</p>
        <br />
        <p></p>
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
{% endblock %}
